@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #313234;
  min-height: 50px;
}

header nav {
  font-size: 0;
}

header nav img {
  padding: 10px 0;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

header nav ul li {
  display: inline-block;
  font-size: 16px;
}

header nav ul li a {
  line-height: 50px;
  padding: 0 20px;
  display: block;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: #C0C0C0;
  transition: .6s;
  color: #A0522D;
}

.slogan h1 {
  background-color: rgba(0, 0, 0, 0.5);
  float: right;
  max-width: 800px;
  color: #FFF;
  margin-top: 100px;
  padding: 30px;
  text-transform: uppercase;
  width: 40%;
  font-size: 36px;
  text-shadow: 2px 2px 5px #000;
}

.hero {
  background-image: url(https://fjusta.github.io/images/pexels-photo-296888.jpeg);
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
}

.circle {
  font-size: 25px;
  color: #C0C0C0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.circle i {
  padding-right: 15px;
}

.circle i:last-child {
  padding: 0;
}

.c1:hover,
.c2:hover,
.c3:hover {
  color: #A0522D;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-a {
  width: 20%;
}

.col-b {
  width: 40%;
}

.col-offset-1 {
  width: 8.33333%;
}

.col-offset-2 {
  width: 16.66667%;
}

.col-offset-3 {
  width: 25%;
}

.col-offset-4 {
  width: 33.33333%;
}

.col-offset-5 {
  width: 41.66667%;
}

.col-offset-6 {
  width: 50%;
}

.col-offset-7 {
  width: 58.33333%;
}

.col-offset-8 {
  width: 66.66667%;
}

.col-offset-9 {
  width: 75%;
}

.col-offset-10 {
  width: 83.33333%;
}

.col-offset-11 {
  width: 91.66667%;
}

section.container {
  margin: 50px auto;
}

i.fa-coffee,
i.fa-child,
i.fa-map-marker {
  width: 100px;
  height: 100px;
  background-color: #313234;
  color: #FFF;
  font-size: 60px;
  text-align: center;
  border-radius: 20px;
  line-height: 90px;
}

.ikony, .coffee,
.child,
.map {
  text-align: center;
}

.ikony h2, .coffee h2,
.child h2,
.map h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.ikony p, .coffee p,
.child p,
.map p {
  color: #837E7C;
  padding: 0 10px;
  text-align: center;
}

h2 {
  color: #313234;
}

.person {
  text-align: center;
  color: #313234;
}

.over:hover .fa-coffee,
.over:hover .fa-child,
.over:hover .fa-map-marker {
  background-color: #A0522D;
  color: #C0C0C0;
}

.over:hover h2 {
  color: #A0522D;
}

.kawa p {
  color: #837E7C;
  text-align: center;
}

.kawa h2 {
  text-transform: uppercase;
  text-align: center;
}

.fa-search,
.fa-link {
  background-color: #C0C0C0;
  width: 20px;
  height: 20px;
  font-size: 16px;
  color: #313234;
  text-align: center;
  border-radius: 5px;
  line-height: 20px;
}

.imggal, .image img, .image:hover .layer {
  width: 100%;
  height: 200px;
}

.gal, .image:hover .layer, .wrapper:hover .layer {
  position: absolute;
  display: inline-block;
  text-align: center;
}

.image {
  position: relative;
  display: inline-block;
  height: 200px;
}

.image img {
  object-fit: cover;
}

.layer {
  display: none;
}

.image:hover .layer {
  background: rgba(0, 0, 0, 0.5);
}

.image:hover i {
  margin-top: 90px;
}

.gallery {
  margin-top: 80px;
}

.wrapp, .wrapper, .wrapper:hover .layer, .wrapper img {
  width: 250px;
  height: 250px;
}

.wrapper {
  margin: 50px auto 0;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper:hover .layer {
  background: rgba(0, 0, 0, 0.5);
}

.wrapper:hover h3 {
  margin-top: 110px;
  color: #FFF;
}

.wrapper img {
  object-fit: cover;
}

.pic, .picture h2, .picture p {
  color: #FFF;
  padding-left: 30px;
  text-align: left;
}

.picture {
  background-image: url(https://fjusta.github.io/images/coffee.jpg);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  color: #FFF;
  text-shadow: 2px 2px 3px #000;
}

.picture h2 {
  margin-top: 50px;
}

.picture p {
  margin: 0;
}

.picture .col-8 {
  text-align: left;
}

.picture .col-4 {
  text-align: left;
}

.picture .col-4 p {
  font-style: italic;
}

.ipad {
  overflow: hidden;
  height: 250px;
  margin-top: 50px;
}

.ipad img {
  width: 100%;
}

.numbers {
  margin: 50px 0 70px 0;
}

.numbers h2 {
  font-size: 42px;
  font-weight: 800;
  color: #313234;
  margin-bottom: 0;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
}

.numbers p {
  text-transform: uppercase;
  color: #A0522D;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: #313234;
  min-height: 300px;
  color: #FFF;
}

footer h3 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

footer h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 120px;
  background: #FFF;
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
}

footer p {
  color: #C0C0C0;
}

footer .onas {
  padding: 0 20px;
}

.kontakt {
  padding-left: 70px;
}

.media p {
  color: #C0C0C0;
  margin: 0;
  text-align: left;
}

.media i {
  width: 30px;
  height: 30px;
  background: #A0522D;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 5px 0 0;
  text-align: center;
}

.media .icons {
  text-align: left;
}

.copy {
  background-color: #000;
  text-align: center;
  color: #FFF;
  height: 50px;
  line-height: 50px;
}

@media (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
  }
  .gallery [class*="col-"] {
    padding: 0;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .col-s-a {
    width: 20%;
  }
  .col-s-b {
    width: 40%;
  }
  header nav img {
    margin: auto;
    display: block;
  }
  header nav ul {
    float: none;
  }
  header nav ul li {
    display: block;
    text-align: center;
  }
  .slogan h1 {
    font-size: 22px;
    width: 60%;
    margin-top: 50px;
  }
  .hero {
    height: 300px;
  }
  .circle {
    display: none;
  }
  section.container {
    margin: 15px auto;
  }
  .coffee p,
  .child p,
  .map p {
    margin-bottom: 0;
  }
  .gallery {
    margin-top: 20px;
  }
  .wrapper {
    margin: 0 auto 0;
  }
  .numbers {
    margin: 0;
  }
  .numbers h2 {
    font-size: 24px;
    margin: 0;
  }
  .numbers p {
    font-size: 14px;
    margin: 0;
  }
  .ipad {
    margin-top: 20px;
  }
  .ipad img {
    width: auto;
    max-height: 100%;
  }
  .picture .col-8,
  .picture .col-4 {
    text-align: center;
  }
  .picture h2 {
    text-align: center;
    padding-left: 0;
    margin: 10px 0;
  }
  .picture p {
    text-align: center;
    padding-left: 0;
  }
  footer {
    font-size: 14px;
    text-align: center;
  }
  footer p {
    margin: 0;
  }
  footer h3::after {
    width: 60px;
  }
  footer h3::before {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background: #FFF;
    position: absolute;
    top: 50%;
    right: calc(100% + 10px);
  }
  .media p,
  .media .icons {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1091px) {
  .slogan h1 {
    margin-top: 50px;
  }
  .wrap, .wrapper, .wrapper:hover .layer, .wrapper img {
    width: 170px;
    height: 170px;
  }
  .wrapper {
    margin: 30px auto 0;
  }
  .wrapper:hover h3 {
    margin-top: 70px;
  }
  .ipad img {
    padding-left: 10px;
  }
  .picture .col-4 p {
    padding-right: 10px;
  }
  .kontakt {
    padding-left: 20px;
  }
}
